html {
    scroll-behavior: smooth;
}

body {
    background-color: #190425;
    color: white;
    font-family: 'Roboto Mono', monospace;
    font-size: 16px;
    overflow-x: hidden;
}

.container-fluid {
    --bs-gutter-x: 0 !important;
}

.table {
    --bs-table-hover-color: white !important;
    table-layout: fixed;
}

.top-banner {
    height: 93vh;
    background: linear-gradient(70deg, #21105F, #3D0E50, #5E0B36);
}

.carousel-item {
    height: 100%;
}

.top-banner-first-slide {
    padding: 10rem;
}

.top-text {
    font-family: 'Roboto Mono', monospace;
    color: white;
    font-size: 1200%;
}

.section-details {
    height: 98vh;
    display: flex;
    align-content: space-evenly;
}

.section-schedule,
.section-faq {
    height: 98vh;
    display: flex;
    align-content: flex-start;
}

.section-sponsors {
    height: 98vh;
    display: flex;
    align-content: flex-start;
}

.sponsor-card,
.detail-card,
.schedule-card {
    border-radius: 1.5rem;
    padding: 1rem 2rem;
    background: linear-gradient(70deg, #21105F, #3D0E50, #5E0B36);
}

.detail-card {
    height: 100%;
}

.detail-card>span>i {
    padding-top: 20%;
}

.schedule-card {
    width: 70%;
    margin-top: 2%;
}

.sponsor-card {
    margin-top: 3%;
}

a {
    text-decoration: none !important;
}

.registration-button {
    border-radius: 1.5rem;
    background-color: #190425;
    color: white;
    border: solid;
    padding: 1rem;
}

.registration-button:hover {
    background: linear-gradient(70deg, #21105F, #3D0E50, #5E0B36);
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0.5rem 1rem rgba(145, 92, 182, .4);
}

.registration-button h2 {
    margin-bottom: 0;
}

.schedule-table {
    color: white;
}

.accordion-item {
    margin: 2rem;
    border-radius: 1.5rem !important;
}

#faqAccordion .accordion-item:not(:first-of-type) {
    border-top: 1px solid white;
}

.accordion-button {
    background: linear-gradient(70deg, #21105F, #3D0E50, #5E0B36);
    color: white;
    font-size: 90%;
    border: none;
    border-radius: 1.5rem !important;
}

.accordion-button.collapsed::after {
    background-image: url(./visual-assets/accordion-button.svg);
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #ab20fd;
    box-shadow: inset 0 -1px 0 #ab20fd;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(./visual-assets/accordion-button.svg);
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-body-text {
    font-size: 150%;
}

.accordion-item:not(:first-of-type) {
    border-top: 0;
}

.mouse-cursor-gradient-tracking {
    border-color: none;
    position: relative;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
    overflow: hidden;
}

@media only screen and (max-width : 480px) {
    .h2, h2 {
        font-size: 90%;
    }

    .row {
        margin: 0;
    }

    .row>* {
        padding: 0;
    }

    .table {
        table-layout: unset;
    }

    .navbar-brand {
        font-size: 100%;
    }

    .fa-10x {
        font-size: 5rem;
    }

    .section-details,
    .section-schedule,
    .section-sponsors,
    .section-faq {
        height: unset;
        margin-top: 10%;
    }

    .sponsor-card,
    .detail-card,
    .schedule-card {
        border-radius: 1.5rem;
        padding: 1rem 1rem;
    }

    .top-banner-first-slide {
        padding: 3rem;
        font-size: 300%;
    }

    .carousel-item h1 {
        font-size: 100%;
    }

    .detail-card {
        margin-top: 5%;
    }
    
    .detail-card>span>i {
        padding-top: 5%;
    }

    .registration-button {
        margin-top: 20%;
    }

    .schedule-card {
        width: 100%;
    }

    .schedule-table th {
        min-width: 7rem;
    }

    .accordion-item {
        margin: 0.5rem;
    }
    
    .accordion-body-text {
        font-size: 90%;
    }

    .section-faq {
        margin-bottom: 5rem;
    }
}