html {
    scroll-behavior: smooth;
}

body {
    background-color: #0d1948;
    color: white;
    font-family: monospace;
    font-size: 16px;
    overflow-x: hidden;
}

.container-fluid {
    --bs-gutter-x: 0 !important;
}

.text-background {
    color: #0d1948;
}

.table {
    --bs-table-hover-color: white !important;
    table-layout: fixed;
}

/*Carousel first Slide stuff */

.title-background {
    background: linear-gradient(to bottom right, rgba(26, 123, 129, 0.7), rgba(15, 27, 77, 0.7));
    margin-top: 16px;
    width: 100%;
    height: 200px;
}

.top-banner {
    height: 100vh;
    background-image: url("visual-assets/background.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

.navbar-toggler {
    font-size: 12px;
    color: #000000;
}

.navbar-toggler:focus {
    box-shadow: 0 0 0 0.5px;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'><path stroke='rgba(0, 0, 0, 1)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

.carousel-item {
    height: 100%;
}

.carousel-control-prev, .carousel-control-next {
    opacity: 1;
    margin-top: 12px;
}

.top-banner-first-slide {
    padding: 10rem;
}

.img-hack {
    padding-top: 46%;
    max-height: 75%;
    max-width: 155%;
}

/* Typography */
.top-text {
    font-family: monospace;
    color: #000;
    font-size: 125%;
    letter-spacing: .15em; 
    padding-left: 0.5%;
    padding-top: 0.3%;
    min-width: 70%;
    margin-top: 4px;
    margin-bottom: 0;
    overflow: hidden;
    animation: 
    typing 2.5s steps(30, end),
    blink-caret .5s step-end 3s;
}
@keyframes typing {
    from { width: 0 }
    to { width: 70% }
}

/*Navigation Bar Buttons */
.navbuttons { 
    align-content: center;
}

h1 { 
    font-family: monospace;
}

.section-details {
    height: 98vh;
    display: flex;
    align-content: space-evenly;
}

.section-schedule {
    height: 98vh;
    display: flex;
    align-content: flex-start;
    margin-bottom: 10rem;
}

.section-faq {
    height: 110vh;
    display: flex;
    align-content: flex-start;
    margin-bottom: 10rem;
}

.section-sponsors {
    height: 140vh;
    display: flex;
    align-content: flex-start;
}

.sponsor-card,
.detail-card,
.schedule-card {
    border-radius: 1.5rem;
    padding: 1rem 2rem;
    background: linear-gradient(to bottom right, #1A7B81, #0F1B4d);
}

.sponsor-card{
    padding: 7rem;
}

.detail-card {
    height: 100%;
}

.detail-card>span>i {
    padding-top: 20%;
}

.schedule-card {
    margin-top: 2rem;
}

.sponsor-card {
    margin-top: 3%;
}

.img-redbrick {
    margin-top: 4rem;
}

.img-xr {
    padding-top: 4rem;
}

.img-viatec {
    margin-top: 4rem;
    height: 40%;
    width: 33%;
    margin-right: 5%;
}

a {
    text-decoration: none !important;
}

.registration-button {
    border-radius: 1.5rem;
    background-color: #0F1B4d;
    color: white;
    border: solid;
    padding: 1rem;
}

.registration-button:hover {
    background: linear-gradient(to bottom right, #1A7B81, #0F1B4d);
    color: rgba(255, 255, 255, 1);
    box-shadow: 0 0.5rem 1rem rgba(145, 92, 182, .4);
}

.registration-button h2 {
    margin-bottom: 0;
}

.schedule-table {
    color: white;
}

.accordion-item {
    margin: 2rem 1px;
    border-radius: 1.5rem !important;
}

#faqAccordion .accordion-item:not(:first-of-type) {
    border-top: 1px solid white;
}

.accordion-button {
    background: linear-gradient(to bottom right, #1A7B81, #0F1B4d);
    color: white;
    font-size: 90%;
    border: none;
    border-radius: 1.5rem !important;
}

.accordion-button.collapsed::after {
    background-image: url(./visual-assets/accordion-button.svg);
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #1A7B81;
    box-shadow: inset 0 -1px 0 #1A7B81;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(./visual-assets/accordion-button.svg);
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-body-text {
    font-size: 150%;
}

.accordion-item:not(:first-of-type) {
    border-top: 0;
}

.mouse-cursor-gradient-tracking {
    border-color: none;
    position: relative;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    border: none;
    color: white;
    cursor: pointer;
    outline: none;
    overflow: hidden;
}

@media only screen and (max-width: 992px) {
    .section-schedule {
        height: 120vh;
    }

    .section-details {
        height: 60vh;
    }

    .section-sponsors {
        height: 75vh;
    }

    .section-faq {
        height: 70vh;
    }
    
    .img-redbrick {
        margin-top: 3rem;
    }
    
    .img-xr {
        height: 50%;
        width: 60%;
        margin: auto;
    }

    .img-viatec {
        margin-top: 2rem;
        height: 40%;
        width: 40%;
        margin: auto;
    }

    .top-text {
        min-width: 50%;
    }
    
    .top-banner {
        height: 70vh;
        margin-top: 64px;
    }

    .carousel-control-prev, .carousel-control-next {
        margin-top: -48px;
    }    
    
    .title-background {
        margin-top: -40px;
        height: 180px;
    }

    .fa-10x {
        font-size: 6rem;
    }

    .img-logo {
        width: 60%;
    }

    .detail-card h2 {
        font-size: 100%;
    }

    .detail-card .fa-5x {
        font-size: 3rem;
    }
}

@media only screen and (max-width: 768px) {
    .section-schedule {
        height: 120vh;
    }

    .section-details {
        height: 64vh;
    }

    .section-sponsors {
        height: 80vh;
    }
    
    .section-faq {
        height: 90vh;
    }

    .img-redbrick {
        margin-top: 3rem;
    }
    
    .img-xr {
        height: 50%;
        width: 60%;
        margin: auto;
    }

    .img-viatec {
        margin-top: 2rem;
        height: 40%;
        width: 40%;
        margin: auto;
    }

    .top-banner {
        height: 50vh;
        margin-top: 48px;
    }

    .carousel-control-prev, .carousel-control-next {
        margin-top: -4px;
    }    
    
    .title-background {
        margin-top: -8px;
        height: 150px;
    }

    .fa-10x {
        font-size: 4rem;
    }

    .top-text {
        min-width: 40%;
        max-width: 40%;
        font-size: 120%;
    }
    
    .img-logo {
        width: 50%;
    }

    .detail-card h2 {
        font-size: 120%;
    }

    .detail-card .fa-5x {
        font-size: 4rem;
    }
}

@media only screen and (max-width : 480px) {
    .h2, h2 {
        font-size: 90%;
    }

    .row {
        margin: 0;
    }

    .row>* {
        padding: 0;
    }

    .table {
        table-layout: unset;
    }

    .navbar-brand {
        font-size: 100%;
        font-family: monospace;
    }

    .sponsor-card h1 {
        font-size: 100%;
    }

    .top-banner {
        height: 36vh;
        margin-top: 48px;
    }

    .carousel-control-prev, .carousel-control-next {
        margin-top: -4px;
    }    
    
    .title-background {
        margin-top: -8px;
        width: 100%;
        height: 72px;
    }

    .fa-10x {
        font-size: 2rem;
    }

    .top-text {
        min-width: 68%;
        font-size: 95%;
    }
    
    .img-logo {
        width: 40%;
    }

    .carousel-item h1 {
        font-size: 100%;
        padding-top: 8%;
    }

    .section-details,
    .section-schedule,
    .section-sponsors,
    .section-faq {
        height: unset;
        margin-top: 10%;
    }

    .sponsor-card,
    .detail-card,
    .schedule-card {
        border-radius: 1.5rem;
        padding: 1rem 1rem;
    }

    .top-banner-first-slide {
        padding: 3rem;
        font-size: 200%;
    }

    .detail-card {
        margin-top: 5%;
    }
    
    .detail-card>span>i {
        padding-top: 5%;
    }

    .registration-button {
        margin-top: 20%;
    }

    .schedule-card {
        width: 100%;
    }

    .schedule-table th {
        min-width: 7rem;
    }

    .accordion-item {
        margin: 0.5rem;
    }
    
    .accordion-body-text {
        font-size: 90%;
    }

    .img-xr {
        height: 25%;
        width: 60%;
        margin: auto;
    }

    .img-viatec {
        height: 25%;
        width: 60%;
        margin: auto;
    }
    
    .section-faq {
        margin-bottom: 5rem;
    }
}