html{
    scroll-behavior: smooth;
}

body {
    background-color: black;
    color: #ab20fd;
    font-family: 'VT323', monospace;
    font-size: 16px;
    cursor: crosshair;
    overflow-x: hidden;
}

.top-banner {
    height: 98vh;
    font-size: 350%;
}

.broad-border {
    border-color: white;
    border-style: solid;
    border-width: 10px;
}

.top-text {
    font-family: 'Press Start 2P', cursive;
    text-shadow: 2px 2px white;
}

.top-subtext {
    font-family: 'Press Start 2P', cursive;
    color: white;
    font-size: 20%;
}

.section-level-1, .section-level-2, .section-level-3, .section-level-4 {
    height: 98vh;
}

.small-side {
    background-color: #ab20fd;
    height: 100%;
}

.section-title {
    height: 40%;
    width: 40%;
    background-color: white;
    color: #ab20fd;
}

.big-side {
    padding: 100px;
    height: 100%;
}

.bg-color-white {
    background-color: white;
}

.color-primary {
    color: #ab20fd;
}

.accordian-style {
    background-color: white;
    color: #ab20fd;
    font-size: 90%;
}

.accordion-button:not(.collapsed) {
    color: white;
    background-color: #ab20fd;
    box-shadow: inset 0 -1px 0 #ab20fd;
}

.accordion-button:not(.collapsed)::after {
    background-color: white;
    background-image: none;
}

.accordion-button:focus {
    box-shadow: none;
}

.accordion-body-text {
    font-size: 150%;
}

.blink {
    animation: blink 1.5s steps(1, end) infinite;
}


@keyframes blink {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media only screen and (max-width : 480px) {
    .top-text {
        font-size: 35%;
    }

    .big-side {
        padding: 20px;
    }

    .section-level-1, .section-level-2, .section-level-3, .section-level-4 {
        height: unset;
    }

    .section-level-4 .section-body-text {
        height: 50vh;
    }   
}